{{#if isShowingModal}}
  {{#modal-dialog alignment="none" translucentOverlay=true container-class="pageModal container-fluid" close="closeModal"}}
    <div class="row pageModal__body">
      <div class="col-md-6 pageModal__template">
        <h5 class="pageModal__templateTitle">Template #1</h5>
        <img src="assets/images/template-0.svg" class="pageModal__templateImage" alt="Template #1" {{action 'createPage' 0}}>
        <p class="pageModal__templateDescription">Video</p>
      </div>
      <div class="col-md-6 pageModal__template">
        <h5 class="pageModal__templateTitle">Template #2</h5>
        <img src="assets/images/template-1.svg" class="pageModal__templateImage" alt="Template #2" {{action 'createPage' 1}}>
        <p class="pageModal__templateDescription">Background Image Carousel</p>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}

<div class="col-md-4">
  {{card-new create="toggleModal"}}
</div>

{{#each model as |card|}}
  <div class="col-md-4">
    {{card-preview card=card remove="removePage"}}
  </div>
{{/each}}
