<ol class="breadcrumb">
  {{#each routeHierarchy as |route|}}
    <li>
      {{#link-to route.path}}
        {{#text-with-icon iconName=route.iconName}}
          {{route.title}}
        {{/text-with-icon}}
      {{/link-to}}
    </li>
  {{/each}}
</ol>