<div class="previewCard__header">
  <h5>
    {{#link-to 'page.edit' card.id class="previewCard__title"}}
      {{card.title}}
    {{/link-to}}
  </h5>
</div>

<div class="previewCard__footer">
  {{#text-with-icon iconName="download" iconClass="previewCard__icon" class="previewCard__button" tagName='div'}}
    {{#link-to 'page.download' card.id class="previewCard__button__label"}}
      Download
    {{/link-to}}
  {{/text-with-icon}}

  {{#text-with-icon iconName="url" iconClass="previewCard__icon" class="previewCard__button" tagName='div'}}
    {{#link-to 'page.show' card.id class="previewCard__button__label"}}
      Public URL
    {{/link-to}}
  {{/text-with-icon}}

  {{#text-with-icon iconName="remove" iconClass="previewCard__icon" class="previewCard__button" tagName='div'}}
    <a class="previewCard__button__label" {{action "remove" card.id on="click"}}>
      Remove
    </a>
  {{/text-with-icon}}
</div>