{{nav-bar}}
<main>
  <div class="container-fluid">
    <div class="row">
      {{bread-crumb currentRouteName=application.currentRouteName}}
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      {{outlet}}
    </div>
  </div>
</main>

<aside>
  {{component currentSideBar addCard="addCard" toggleSlotSelection="toggleSlotSelection"}}
</aside>
