.navbar-fixed-top {
  right: $size-aside-width;
}

.navbar-default {
  background: $colors-gray-darker;
  border-radius: 0;
  border: none;

  .navbar-nav > li > a {
    color: $colors-white-base;
    &:hover {
      color: $colors-gray-lighter;
    }
  }

  .navbar-brand {
    img {
      height: 20px;
    }
  }
}
