.pageModal {
  &__body {
    padding: $size-padding-xlarge;
  }

  &__template {
    margin-bottom: $size-margin-default;
    text-align: center;
  }

  &__templateImage {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.20);
    margin-bottom: $size-margin-small;
    cursor: pointer;
  }
}

.pageEditModal {
  &__header {
    display: flex;
    padding: $size-padding-large;
    border-bottom: 1px solid $colors-gray-lighter;

    &__thumbnail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &> img {
        display: block;
        height: auto;
        max-width: 100%;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: $size-margin-default;
      width: 90%;
    }

    &__title {
      margin-top: 0;
    }

    &__description {
      color: $colors-gray-medium;
      margin-bottom: 0;
    }
  }

  &__body {
    padding: $size-padding-xlarge;
  }
}
