@mixin centerChildElement($childElement: 'div', $useFlexbox: true) {
  @if $useFlexbox == true {
    display: flex;
    justify-content: center;
    align-items: center;
  } @else {
    position: relative;

    #{$childElement} {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@mixin concatChildText($childElement, $width: 100%) {
  width: $width;

  #{$childElement} {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
