<div class="sideBar__brand">
  <img src="assets/images/icon-cardstack.svg" alt="CardStack">
  <div class="sideBar__content">
    <section class="sideBar__heading">
      <h1 class="sideBar__title">
        Time Keeps on Slippin'
      </h1>
      <p class="sideBar__text">
        Kids don't turn rotten just from watching TV. Oh yeah, good luck with that. My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards. You don't know how to do any of those. It must be wonderful.
      </p>
    </section>
    <div class="sideBar__content">
      <ol class="sideBar__steps">
        <li>Take me to your leader! Goodbye, friends. I never thought I'd die like this. But I always really hoped. Oh, how awful. Did he at least die painlessly? …To shreds, you say. Well, how is his wife holding up? …To shreds, you say. That's not soon enough! Check it out, y'all. Everyone who was invited is here. Fatal.</li>
        <li>Oh Leela! You're the only person I could turn to; you're the only person who ever loved me. I found what I need. And it's not friends, it's things. I'm a thing. Tell them I hate them. Tell them I hate them.</li>
        <li>Who are those horrible orange men? Fatal. Spare me your space age technobabble, Attila the Hun! Ow, my spirit! Incidentally, you have a dime up your nose. Eeeee! Now say "nuclear wessels"!</li>
      </ol>
    </div>
  </div>
</div>