body#page__edit {
  background-color: $colors-gray-medium;

  .breadcrumb {
    & > li + li:before {
      content: "> ";
      color: $colors-gray-light;
    }

    li a {
      color: $colors-gray-light;
    }

    li > a.active {
      color: $colors-white-base;
    }
  }
}
