<div id="templateEdit__0" class="templateEdit__container">
  <div class="templateEdit__navBar">
    <div class="templateEdit__navBar__brand"></div>
  </div>

  <div class="templateEdit__hero">
    <div class="templateEdit__hero__masthead"></div>
    <div class="templateEdit__hero__video"></div>
    <div class="templateEdit__hero__form"></div>
  </div>

  <div class="templateEdit__testimonial">
    <div class="templateEdit__testimonial__body"></div>
  </div>

  <div class="templateEdit__features">
    <div class="templateEdit__features__body"></div>
  </div>

  <div class="templateEdit__footer">
    <div class="templateEdit__footer__body"></div>
  </div>
</div>