#modal-overlays {
  @include centerChildElement('.ember-modal-dialog', false);
  height: 100vh;
  width: $size-main-width;
}

.ember-modal-overlay {
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  right: $size-aside-width;
  top: 0;
  z-index: $zIndex-8;
}

.ember-modal-dialog {
  z-index: $zIndex-9;
  min-width: 90%;

  &.ember-modal-dialog-in-place {
    position: relative;
  }
}
